<!Doctype html>
<html>
    <head>
        <title>{{title}}</title>
        {% block head_scripts %}
        <script type="text/javascript">
            console.error("index template here!!!!");
        </script>
            {% block jquery %}
            <script type="text/javascript">
                console.error("jquery script here");
            </script>
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <h1>{{newTitle}}</h1>
        <h2>{{helloUser}}</h2>

        {% block main_content %}
        <p>Hello there, my name is {{helloUser}} and this is the main paragraph !</p>
        {% endblock %}
    </body>
</html>
